# Methods : Keys, Values and Items

keys()  - return keys
values()- return values
items() - reutrn key value pair tuple

In [23]:
dic ={'Mozambique':2,'R99':4,'R301':5,'Longbow':4, 4:'G30'}
print('GUNS\t\t\tRating ')

for k,v in dic.items():
    print('{}\t\t{}'.format(k,v))

GUNS			Rating
Mozambique		2
R99		4
R301		5
Longbow		4
4		G30

In [24]:
for i in dic.keys():
    print('Keys : {}'.format(i))
    print('Keys are returned as its type: {}'.format(type(i)))
for i in dic.values():
    print('Values : {}'.format(i))
    print('Values is returned as its type : {}'.format(type(i)))

for i in dic.items():
    print('Items : {}'.format(i))
    print('Items is returned as Tuple : {}'.format(type(i)))

Keys : Mozambique
Keys are returned as its type: <class 'str'>
Keys : R99
Keys are returned as its type: <class 'str'>
Keys : R301
Keys are returned as its type: <class 'str'>
Keys : Longbow
Keys are returned as its type: <class 'str'>
Keys : 4
Keys are returned as its type: <class 'int'>
Values : 2
Values is returned as its type : <class 'int'>
Values : 4
Values is returned as its type : <class 'int'>
Values : 5
Values is returned as its type : <class 'int'>
Values : 4
Values is returned as its type : <class 'int'>
Values : G30
Values is returned as its type : <class 'str'>
Items : ('Mozambique', 2)
Items is returned as Tuple : <class 'tuple'>
Items : ('R99', 4)
Items is returned as Tuple : <class 'tuple'>
Items : ('R301', 5)
Items is returned as Tuple : <class 'tuple'>
Items : ('Longbow', 4)
Items is returned as Tuple : <class 'tuple'>
Items : (4, 'G30')
Items is returned as Tuple : <class 'tuple'>

get() - dictionaries have a get() method that takes two arguments: the key of the value to retrieve and a fallback value to return if that key does not exist.

In [28]:
 picnicItems = {'apples': 5, 'cups': 2}
print('I am bringing ' + str(picnicItems.get('cups', 0)) + ' cups.')

print('I am bringing ' + str(picnicItems.get('eggs', 0)) + ' eggs.')
print('Note : eggs does not exist in dictionary')

I am bringing 2 cups.
I am bringing 0 eggs.
Note : eggs does not exist in dictionary

setdefault() -

In [36]:
message = 'It was a bright cold day in April, and the clocks were striking thirteen.'
count = {}

for character in message:
    count.setdefault(character, 0)
    #print(count[character])
    count[character] = count[character] + 1

print(count)

{'I': 1, 't': 6, ' ': 13, 'w': 2, 'a': 4, 's': 3, 'b': 1, 'r': 5, 'i': 6, 'g': 2, 'h': 3, 'c': 3, 'o': 2, 'l': 3, 'd': 3, 'y': 1, 'n': 4, 'A': 1, 'p': 1, ',': 1, 'e': 5, 'k': 2, '.': 1}